.edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;

    &_inputButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid black;
        border-radius: 18px;
        padding-right: 8px;

        &:hover {
            background-color: lightgray;
            border-color: lightgray;
            cursor: pointer;
        }

        & > img {
            height: 36px;
        }

        & > span {
            font-size: 1.3rem;
        }
    }
}

.edit_locations {
    display: flex;
    flex-direction: column;
    gap: 1em;
}