.locationCard {
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center;
    justify-content: space-between;
    background-color: white;

    &.editable:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    &.draggable:hover,
    &.dragging {
        background-color: lightgray;
    }
    
    &_name {
        font-weight: 700;
        font-size: 1.5rem;
    }

    &_instructions {
        font-size: 0.8rem;
        font-weight: 300;
        visibility: hidden;
        width: 70px;

        &.hover {
            visibility: visible;
        }
    }

    &_instructions.disabled.hover {
        visibility: hidden;
    }


}