.locationInput {
    box-shadow: 2px 2px 2px 2px lightgray;
    border-radius: 10px;
    padding: 1rem;
    font-size: 1.5rem;
    align-items: center;

    &_field {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;

        &_input {
            margin-bottom: 0.5rem;

            & > input {
                font-size: 1.5rem;
                border-radius: 10px;
                border: 1px solid black;
                padding-left: 8px;
            }

            & > div {
                font-weight: 300;
                font-size: 1rem;
            }
        }
    }
}